@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

body{
    font-family: 'Hanken Grotesk', sans-serif;
}

.container{
    display: flex;
    place-items: center;
    justify-content: center;
    height: 85vh;
    background-color: white;
    width: 100%;
}

h2{
    color: white;
    font-weight: 500;
}

p{
    color: hsl(241, 100%, 89%);
    font-size: 18px;
    font-weight: 500;
}

.result{
    text-align: center;
    background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    width: 20rem;
    height: 25rem;
    border-radius: 30px;
    padding: 15px;
    position: relative;
    z-index: 1;
}

.big-result{
    margin: auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 10rem;
    height: 10rem;
    background: hsla(241, 72%, 46%, 0.671);
    border-radius: 100px;
}

.number{
    color: white;
    font-size: 60px;
    font-weight: 800;
}

.of-100{
    color: hsl(241, 100%, 89%);
}

ul{
    list-style: none;
}

.summary{
    width: 25rem;
    height: 27rem;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    box-shadow: 15px 18px 38px -8px rgba(0,0,0,0.75);
    border-radius: 25px;
    margin-left: -3rem;
    position: relative;
    z-index: 0;
}

#title{
    margin-left: 4rem;
    color: hsl(224, 30%, 27%);
    font-size: 20px;
    font-weight: 800;
}

.container-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}


label{
    display: flex;
}


img{
    margin: 0 10px;
}

.reaction{
background: hsla(0, 100%, 67%, 0.171);
width: 250px;
height: 40px;
border-radius: 5px;
}

.container-2 label .point{
    color: hsl(224, 30%, 27%);
    font-weight: 800;
    margin: auto 1.8rem;
}

.container-2 .numero-100{
    color: darkgrey;
    font-weight: 800;
}

.memory{
    background: hsla(39, 100%, 56%, 0.151);
    width: 250px;
    height: 40px;
    border-radius: 5px;
}

.verbal{
    background: hsla(166, 100%, 37%, 0.171);
    width: 250px;
    height: 40px;
    border-radius: 5px;
}

.visual{
    background: hsla(234, 85%, 45%, 0.164);
    width: 250px;
    height: 40px;
    border-radius: 5px;
}
.reaction p{
    color: hsl(0, 100%, 67%);
    margin: 5px 0px;
    padding: 3px;
}

.memory p{
    color: hsl(39, 100%, 56%);
    margin: 5px 0px;
    padding: 3px;
}

.verbal p{
    color: hsl(166, 100%, 37%);
    margin: 5px 0px;
    padding: 3px;
}

.visual p{
    color: hsl(234, 85%, 45%);
    margin: 5px 0px;
    padding: 3px;
}

.btn{
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 16px;
    background: hsl(224, 30%, 27%);
    border: none;
    border-radius: 25px;
    width: 250px;
    height: 50px;
    color: white;
    margin-top: 2rem;
    
}

.btn:hover{
    opacity: 0.7;
}


.attribution{
   margin: 0;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
}

.item p{
    color: black;
}

@media (max-width: 700px){
    .container{
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .container-2{
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 40vh;
    }

    .result{
        width: 300px;
        height: 385px;
        margin-bottom: -3rem;
        border-radius: 25px;
    }

    .summary{
        width: 20rem;
        height: 100vh;
        background-color: rgb(255, 255, 255);
        box-shadow: 15px 18px 38px -8px rgba(0,0,0,0.75);
        border-radius: 25px;
        margin: 2rem;
        z-index: 0;
    }

    #title{
        margin-top: 2rem;
        margin-left: 1.5rem;
        color: hsl(224, 30%, 27%);
        font-size: 20px;
        font-weight: 800;
    }

    .attribution{
        height: 20vh;
        position: relative;
    }
    
    .item{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
  